*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html , body{
    height: 100vh;
    width: 100%;
    background-color: black;

}

.minicircle{
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    z-index: 99999;
    transform: skewX(30%);
}
 
#main{
    width: 100%;
    
}

#hero{
    width: 100%;
   min-height:  100vh;
    color: white;
    position: relative;
}

.nav{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 40px;
    color: white;
    position: fixed;
    margin-top: -86px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;    
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.heading {
    margin-top: 90px;
}
.heading h1{
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0.9;
    opacity: 0.6;
    margin-left: 30px;
}

#second-h1{
    margin-left: 220px;
}


.smoothScrool{
    width: fit-content;
    overflow: hidden;
}
.smoothElem{
    transform: translateY(100%);
}
.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size:15px;
}

.littleHeading{
    margin-top: 100px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;

}
.littleHeading h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;

}

.herofoter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 17%;
    width: 100%;
    padding: 0 2vw;
}

.herofoter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.circleContainer{
    display: flex;
    gap: 5px;
}
.circle{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondPage{
    color: white;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
   min-height: 100vh;
    
}

.secondPage .elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;


}

.elem h1{
    font-size: 7.6vw;
    opacity: 0.6;
    text-transform: uppercase;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    height: 140%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;

  
}

.about{
    /* height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    left: 45%;
    gap: 20px;
    position: relative;
    top: -65%; */
    
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;

}

.about img {
   width: 200px;
  height: 190px;
   border-radius: 50%;
   object-fit: cover;

}

.imgText{

    width: 25rem;
}
.imgText h4{
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.imgText p{
    margin-bottom: 30px;
    line-height: 1.1;
}
.imgText a{
    /* background-color: transparent;
    color: white;
    padding: 4px 12px;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 10px;
    margin-top: 5px;
    opacity: .9;
    font-size: 12px;
    cursor: pointer; */

    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.extraAbout{
    /* color: white;
    position: absolute;
    top: 80%;
    left: -40%; */
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;

}
.extraAbout h5{
    text-transform: uppercase;
    opacity: 0.8;
}
.extraAbout h3{
    /* padding: 3px 7px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4px; */

    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

.footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footerleft {
    display: flex;
    gap: 20px;
}

.footerright {
    display: flex;
    gap: 30px;
}

.footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
